body {
    font-family: 'Poppins', sans-serif;
}

/* start form */
.form-group {
    margin-top: 180px;
    padding: 60px 0;
    background-color: #f6f6f6;
}

.form-group h6 {
    font-size: 18px;
    line-height: 1.5;
    color: #001751;
    margin-bottom: 50px;
}

.form-group form {
    display: flex;
    flex-direction: column;
}

.form-group input[type="email"] {
    outline: none;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 5px;
    padding: 0 20px;
    height: 55px;
    width: 50%;
}

@media (max-width:767px) {

    .form-group input[type="email"] {
        width: 100%;
    }
}

.form-group form input[type="submit"] {
    outline: none;
    border: none;
    background-color: #1a83a4;
    border-radius: 4px;
    color: white;
    height: 50px;
    width: 15%;
    font-size: 18px;
    transition: 0.9s;
}


@media (max-width:767px) {

    .form-group form input[type="submit"] {
        width: 50%;
    }
}

.form-group form input[type="submit"]:hover {
    background-color: #2fa8cd;
    cursor: pointer;
}

/* end form */