* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/*Start variables*/
:root {
    --main-color: #6caeba;
    --section-color: rgb(12 34 46);
    --main-margin: 100px;
    --section-margin: 40px;
}

/*End variables*/

/* Start header */
header {
    background-color: white;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 1px 1px 1px #d6d6d6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

header a img {
    width: 70px;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding-top: 15px;
}

@media (max-width:991px) {
    .navbar ul {
        flex-direction: column;
        gap: 20px;
    }
}

.navbar li a {
    font-size: 20px;
    color: rgb(121, 121, 121);
    text-transform: capitalize;
    padding: 0 25px;
    transition: 0.5s;
}

.navbar li a.active {
    color: #58d9f0;
}

.navbar li a:hover {
    color: #58d9f0;
}

.navbar li.dropdown a {
    font-size: 16px;
}

/* End header */


/* Start content */

.card {
    margin-top: calc(var(--main-margin) + 100px);
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 8px;
}

.card h4 {
    text-transform: capitalize;
    color: white;
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
}

.card h5 {
    text-transform: capitalize;
    color: rgb(250, 250, 250);
    font-size: 22px;
}

.card p a {
    color: rgb(251, 248, 248);
    font-size: 19px;
}

.card ul li {
    text-transform: capitalize;
    font-size: 18px;
}

.card ul li span {
    text-transform: lowercase;
    font-size: 17px;
    color: rgb(100, 100, 100);
}

.card ul li a {
    font-size: 15px;
    text-transform: lowercase;
}

.form {
    margin-top: var(--section-margin);
    background-color: var(--main-color);
    padding: 30px;
    border-radius: 8px;
    color: white;
}

.form input {
    height: 60px;
}

.form .btn {
    background-color: rgb(12 34 46);
    outline: none;
    margin: 0 auto;
}

table {
    margin-top: var(--section-margin);
}

thead {
    background: var(--main-color);
    color: white;
    text-align: center;
}

table td {
    border: 1px solid #dee2e6;
    text-align: right;
}

/* End content */

/* add member */

/* Start Table */
.member .container {
    margin-top: 150px;
}

.responsive-table {
    margin: 20px 0 0 0;
    overflow-x: auto;
}

.member .table {
    min-width: 1000px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 0;
}

.member .table td,
.member .table th {
    padding: 12px 15px;
    border: 2px solid rgb(198, 198, 198);
    font-size: 16px;
}

.member .table th {
    background-color: var(--main-color);
    color: var(--white);
    text-transform: capitalize;
}

.member .table td {
    line-height: 1.8;
    vertical-align: middle;
    text-align: center;
}

.member .table td img {
    width: 100px;
    width: 100px;
    border-radius: 50%;

}

.member .table td .btn {
    color: var(--white);
    width: 80px;
}

/*end table*/
/* end add member */

/* Scroll */

.up {
    position: fixed;
    bottom: 10px;
    right: -45px;
    background-color: #6caeba;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 30%;
    cursor: pointer;
    transition: 0.2s;
}

.up.show {
    right: 20px;
}

/* end scroll */

/* Start footer */

footer {
    background-color: var(--section-color);
    margin-top: var(--main-margin);
    padding: 50px 0;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 60px;
}

@media screen and (max-width: 767px) {
    footer .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

footer .container .social .logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 0 0 8px 0;
}

footer .container .social a .fab {
    padding: 4px;
    font-size: 28px;
}

footer .container .social .fa-facebook-square {
    color: #496bb2;
}

footer .container .social .fa-youtube {
    color: #e90e11;
}

footer .container .social .fa-twitter {
    color: #0999d6;
}

footer .container h6 {
    color: white;
    font-size: 23px;
    margin-bottom: 20px;
}

footer .container .contact p {
    color: rgb(198, 198, 198);
    font-size: 18px;
}

footer .container .contact i {
    padding: 0 6px;
}

footer .container .links a {
    display: block;
    text-decoration: none;
    color: rgb(198, 198, 198);
    font-size: 19px;
    margin-top: 5px;
    transition: 0.5s;
}

footer .container .links a:hover {
    color: #16a0b9;
}

.end-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.end-footer p {
    color: white;
    font-size: 17px;
    margin: 0;
}

/* end footer */